@font-face {
    font-family: "Raleway";
    src: local("Raleway-Medium"),
      url("./fonts/Raleway-Medium.woff") format("woff"),
      url("./fonts/Raleway-Medium.eot") format("eot"),
      url("./fonts/Raleway-Medium.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Raleway";
    src: local("Raleway-Bold"),
      url("./fonts/Raleway-Bold.woff") format("woff"),
      url("./fonts/Raleway-Bold.eot") format("eot"),
      url("./fonts/Raleway-Bold.ttf") format("truetype");
    font-weight: bold;
}
*{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    margin: 0;
    scroll-behavior: smooth;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1188px;
    padding:0px 39px;
}
.header{
  background-color: #E1EDE6;
}
.header__wrapper{
  padding: 32px 0 33px 0;
}
.header__logo{
  max-width: 143px;
  width: 100%;
  color: #598D66;
  font-size: 20px;
  font-weight: 700;
}

.header__ul{
  padding: 0;
}
.header__li{
  list-style: none;
}
.header__nav{
  max-width: 470px;
  width: 100%;
}
.header__a{
  color: #2C2D35;
  font-size: 20px;
  text-decoration: none;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__wrapper{
  gap:30px;
  }
.main__title{
  font-size: 60px;
  margin-bottom: 20px;
  color: #2C2D35;
  line-height: 110%;
  font-weight: 500;
}
.main__title_green{
  color: #598D66;
}
.main__description{
font-size: 18px;
margin-bottom: 60px;
color: #86928B;
font-style: normal;
font-weight: 500;
line-height: 150%; 
}
.button{
  color: #598D66;
  background-color: transparent;
  font-size: 20px;
  height: 65px;
  padding: 20px 60px;
  outline: 1px solid #598D66;
  border:none;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
}
.reproduction__title{
  color: #2C2D35;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 44px */
}
.reproduction__wrapper{
  margin-bottom: 30px; 
}
.reproduction__cards{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 30px;
  margin-bottom: 70px;
}
.reproduction__buttons{
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 32px;
}
.reproduction__button{
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border:none;
  background: #D4E8D9;
}
.reproduction__button_green{
  background: #376B44;
  color: #fff;
}
.card{
  padding: 20px;
  width: 350px;
  height: 730px;
  background: #E1EDE6;
}
.card__painting{
  width: 310px;
  height: 422px;
  flex-shrink: 0;
  justify-content: center;
}
.card__artist{
  color: #86928B;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.card__title{
  color: #2C2D35;
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}
.card__material{
  color: #2C2D35;
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}
.card__price{
  color: #598D66;
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}
.card__button{
  width: 100%;
  margin-top: 20px; 
}