.footer
    background-color:#E1EDE6
    padding: 23px 0
.footer__wrapper
    align-items: start
.footer__wrapper-left
    max-width: 728px
    width: 100%
    align-items: start

.footer__logo
   gap: 8px
   margin-bottom: 35px
   max-width: 145px
   text-decoration: none
.footer__logo-text
    color: #598D66
    font-size: 20px
    font-weight: 700

.footer__phone a
    display: block
    margin-bottom: 8px
    color: #2C2D35
    font-size: 20px
    text-decoration: none
    &:hover
        color:#598D66
    &:focus
        background: #D4E8D9
        outline: none
    &:active
        color:#376B44
        background: none
.footer__phone-title
    color: #86928B
    font-size: 18px
          
.footer__navigation
    max-width: 445px
    width: 100%
    gap: 60px
    align-items: start
    
.footer__reproduction 
    display: flex
    flex-direction: column
    gap: 6px
.footer__news
    display: flex
    flex-direction: column
    gap: 6px
    
.footer__about
    display: flex
    flex-direction: column
    gap: 6px

.footer__navigation a
    color: #86928B
    font-size: 18px
    line-height: 150% /* 27px */    
    text-decoration: none
    transition: 0.3s
    &:hover
        color:#598D66
    &:focus
        background: #D4E8D9
        outline: none
    &:active
        color:#376B44
        background: none

.footer__navigation .navigation__title 
    color: #2C2D35
    font-size: 20px
    transition: 0.3s
    &:hover
        color:#598D66
    &:focus
        background: #D4E8D9
        outline: none
    &:active
        color:#376B44
        background: none
            

.social__logos
    gap:30px
    margin-bottom: 10px

.footer__copyright    
    color: #86928B
    font-size: 12px
    line-height: 120% /* 14.4px */
    display: flex
    flex-direction: column
    gap:8px
