.reproduction
    &__title
        color: #2C2D35
        font-size: 40px
        font-weight: 500
        line-height: 110% 
    &__wrapper
        margin-bottom: 30px 
        gap: 15px
    &__cards
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
        gap: 30px
        margin-bottom: 70px
    &__buttons
        display: flex
        align-items: flex-start
        gap: 15px
        width: 100%
        max-width: 433px
        justify-content: space-between
    &__button
        border-radius: 20px
        cursor: pointer
        padding: 10px 20px
        border: none
        background: #D4E8D9
        &:focus
            background: #D4E8D9
            color: #2C2D35
            outline: 2px #598D66 solid
        &:hover
            background: #598D66
            color: #F4F6F5
        &:active
            background: #376B44
            color: #F4F6F5
        &_green
            background: #376B44
            color: #fff

@media screen and (max-width:768px)
    .reproduction
        &__title
            font-size: 30px
        &__cards
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))

@media screen and (max-width: 576px)
    .reproduction
        &__wrapper
            flex-wrap: wrap
            margin-bottom: 20px
        &__title
            font-size: 24px
            margin-bottom: 20px
            width: 100%
        &__cards
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
            margin-bottom: 50px
        
@media screen and (max-width: 400px)
    .reproduction
        &__title
            padding-left: 15px
        &__buttons
            padding-left: 15px
            padding-right: 15px
            overflow: scroll
            gap: 20px
            &::-webkit-scrollbar
                width: 0
                height: 0
        &__button
            font-size: 18px
        &__cards
            margin-bottom: 60px
        
